[Unit]
Description=OneDrive Free Client tray icon
Documentation=https://github.com/DanielBorgesOliveira/onedrive_tray
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/onedrive_tray -s
Restart=on-failure
RestartSec=7
RestartPreventExitStatus=3

[Install]
WantedBy=default.target
